.monvalise-footer{
  background: #EFF1F1;

  .monvalise-footer-link-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #2d3132;
  }

  .moncalise-footer-spacing {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C4C7C7;
  }

  .monvalise-footer-brand-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #2D3132;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
  }
}