@import "bootstrap/scss/bootstrap";

.page {
  .navbar-bunner-message-top {
    background-color: #CBDCFF;
    align-self: stretch;

    .header-message {
      .header-message-icon-image-like {
        margin: auto;
        transform: rotate(-30deg);
      }

      .header-message-icon-image-dress {
        margin: auto;
        transform: rotare(30deg);
      }

      .header-message-text {
        font-family: Stolzl;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #0F1A34;
        margin-top: calc(16px/4);
        margin-bottom: calc(16px/4);
      }
    }
  }

  .page__header {
    .select-language {
      border: none;
    }

    .btn-added-product {
      background-color: #2d3132;
      padding: 10px, 20px, 10px, 20px;
      border-radius: 4px;
    }

    .navbar-search-input{
      border: 1.6px solid #e0e3e3;
      border-radius: 4px;
      .navbar-header-icon-search {
        width: 20px;
        height: 20px;
      }
      .navbar-input-space {
        border: none;
      }
    }
  }

}
